.bus {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .seat {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    margin: 5px;
    cursor: pointer;
  }
  
  .aisle {
    width: 20px;
    background-color: #fff; /* Different color for aisle */
  }
  